{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<style>
  table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  text-align: left;
  border-collapse: collapse;
  border-radius: 20px;
  box-shadow: 0 0 0 10px #73b9e7;
  color: #452F21;
  }
  th {
  padding: 10px 8px;
  background: white;
  }
  table th:first-child {
  border-top-left-radius: 20px;
  }
  table th:last-child {
  border-top-right-radius: 20px;
  }
  td {
  border-top: 10px solid #4781a3;
  padding: 8px;
  background: white;
  }
  table td:first-child {
  border-bottom-left-radius: 20px;
  }
  table td:last-child {
  bord
  
  </style>
<h3 class="text-center mt-5 mb-5">Оформление заказа</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Наименование</th>
        <th scope="col">Изображение</th>
        <th scope="col">Цена</th>
        <th scope="col">Количество</th>
        <th scope="col">Общая цена</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart.products.all %}
      <tr>
        <th scope="row">{{ item.content_object.title }}</th>
        <td class="w-25"><img width=250 height=270 src="{{ item.content_object.image.url }}" ></td>
        <td>{{ item.content_object.price }} руб.</td>
        <td>{{ item.qty }}</td>
        <td>{{ item.final_price }} руб.</td>
      </tr>
      {% endfor %}
          <tr>
            <td colspan="2"></td>
            <td>Итого</td>
            <td>{{ cart.total_products }}</td>
            <td><strong>{{ cart.final_price }} руб.</strong></td>
          </tr>
    </tbody>
  </table>
<hr>
<h3 class="text-center mt-5 mb-5">Форма заказа</h3>

<div class="row">
  <div class="col-md-6">
    <h3 class="text-center">Оформить заказ</h3>
<form action="{% url 'make_order' %}" method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" class="btn btn-success btn-block mb-3" values="Оформить заказ">
</form>
</div>
  <div class="col-md-6">
  <h3 class="text-center">Оплатить заказ по карте</h3>
  <form id="payment-form">
    <div id="card-element" class="mt-5 mb-5">
      <!-- Elements will create input elements here -->
    </div>
  
    <!-- We'll put the error messages in this element -->
    <div id="card-errors" role="alert"></div>
  
    <button type="submit" data-username="{{ cart.owner.user.username }}" class='btn btn-primary btn-block' id="card-button" data-secret="{{ client_secret }}">Submit Payment</button>
  </form>
</div>
</div>
<script>
  var form = document.getElementById('payment-form');
  var stripe = Stripe('pk_test_51InP7sBvCXw0ZFF3dBg8FCpEjhC00A6IDAGI7okOxY7kJzXOj8zjoMRdTdkgyjPfbEJiLKo6m4jAZQcj5qI9YKte00kZhGtuq2');
  var elements = stripe.elements();
  var style = {
    base: {
        color: "#32325d",
      }
  };

  var card = elements.create("card", { style: style });
  card.mount("#card-element");
  card.on('change', function(event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    });
  form.addEventListener('submit', function(ev) {
    ev.preventDefault();
    var clientSecret = document.getElementById('card-button')
    stripe.confirmCardPayment(clientSecret.dataset.secret, {
      payment_method: {
        card: card,
        billing_details: {
          name: document.getElementById('card-button').dataset.username
        }
      }
    }).then(function(result) {
      if (result.error) {
        // Show error to your customer (e.g., insufficient funds)
        console.log(result.error.message);
      } else {
        // The payment has been processed!
        if (result.paymentIntent.status === 'succeeded') {
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            const csrftoken = getCookie('csrftoken');
            var formData = new FormData(document.forms.order);

            // добавить к пересылке ещё пару ключ - значение
            formData.append("first_name", document.getElementById('card-button').dataset.username);
            formData.append("csrfmiddlewaretoken", csrftoken)
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/payed-online-order/");
            xhr.send(formData);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4) {
                  window.location.replace("https://hidden-beyond-08177.herokuapp.com/");
                  alert('Ваш заказ успешно оплачен! Менеджер с Вами свяжется')
                }
            }
        }
      }
    });
  });
</script>
{% endblock content %}